body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  padding-left: 20px;
  
}



.card {
  max-width: 333px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.char-img{
  border: 2px black solid;
}
.scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-text {
  text-align: center;
}

.title {
  justify-content: center;
  flex:2;
}

.game-end {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}

@media (max-width:600px) {
  .card-section {
    grid-template-columns: repeat(1 , 1fr);
    padding-left: 0;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    
  }
  header {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .scores {
    flex-direction: row;
    gap: 10px;
  }

  .card {
    padding: 20px;
  }
}