body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  padding-left: 20px;
  
}

.card {
  width: 333px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}
.scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-text {
  text-align: center;
}

.title {
  justify-content: center;
  flex:2;
}

.game-end {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}